<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="endpoint" value="0.0.0.0:9999"/>
      <add key="base_directory" value="C:\Dev\countrywide-countdown\AoC.Questionnaire\data\html"/>
      <add key="db_file" value="C:\Dev\countrywide-countdown\AoC.Questionnaire\data\AoC.db"/>
      <add key="regions" value="C:\Dev\countrywide-countdown\AoC.Questionnaire\data\regions.txt"/>
      <add key="organisations" value="C:\Dev\countrywide-countdown\AoC.Questionnaire\data\organisations.txt"/>
      <add key="users" value="C:\Dev\countrywide-countdown\AoC.Questionnaire\data\users.txt"/>
      <add key="success_redirect" value="http://134.213.31.172/thanks.html"/>
    </appSettings>
</configuration>
