body {
    background-color: #000000;
    color: #ffffff;
    min-width: 370px;
}

// Background Gradient
.countdown-page {
    background: linear-gradient(to bottom, rgba(72, 75, 83,0), rgba(72, 75, 83,0.7));
}

.background-solid {
    background: #484B53;
}
