// Titles
.header__title {
    font-size: rem-calc(10);
    font-family: "Gotham-Book",Helvetica,Arial,sans-serif;
    text-align: center;
    letter-spacing: rem-calc(2);

    .header__title-dashed {
        font-size: inherit;
        font-family: inherit;
        letter-spacing: inherit;
        text-align: inherit;
        margin: 0;

        &:before,
        &:after {
            content: " ";
            border-top: rem-calc(1) solid #ffffff;
            width: rem-calc(60);
            display: inline-block;
            margin: rem-calc(3 10);
        }
    }

    .countdown-page & {
        @include grid-column(
            $columns: 12,
            $center: true
        );
    }
}


@media #{$medium} {
    .header__title {

        .header__title-dashed {
            font-size: rem-calc(10);
            font-family: "Gotham-Book",Helvetica,Arial,sans-serif;
            letter-spacing: rem-calc(2);
            text-align: center;
            margin: 0;

            &:before,
            &:after {
                content: " ";
                border-top: rem-calc(1) solid #ffffff;
                width: rem-calc(140);
                display: inline-block;
                margin: rem-calc(3 10);
            }
        }

        .countdown-page & {
            @include grid-column(
                $columns: 12,
                $center: true
            );
        }
    }
}

.gotham-title {
    @include detroit-08;
    @include detroit-title;

    position: relative;
    text-align: center;

    &:before {
        @include detroit-07;
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.yellow {
        color: #FFFF99;

        &:before {
            color: #FFF800;
        }
    }

    &.blue {
        color: #3CD9EC;

        &:before {
            color: #009EBC;
        }
    }

    &.pink {
        color: #E70087;

        &:before {
            color: #923180;
        }
    }
}
