// Variables
$yellow-top: rgba(255,236,19,1);
$yellow-side: rgba(229,159,13,1);

$purple-top: rgba(231,0,135,1);
$purple-side: rgba(146,49,128,1);

$blue-top: rgba(101,244,255,1);
$blue-Side: rgba(94,182,228,1);

$white: rgba(255,255,255,1);
$white-border: $white;
$dark-blue: rgba(0,62,74,1);

$dark-gray: #484B53;
