// Clock circle

.clock__container {
    width: rem-calc(700);
    height: rem-calc(730);
    background: url(../images/background-01.png) center 92px no-repeat;
    background-size: 660px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    .svg & {
        background: url(../images/background-01.svg) center 92px no-repeat;
        background-size: 460px;
    }
}

.clock__circle-1 {
    width: rem-calc(700);
    height: rem-calc(700);
    border-radius: 50%;
    margin: 10px auto;
    position: relative;

    /* can be treated like a fallback */
    background-color: #006e85;

    /* will be "on top", if browser supports it */
    background-image: linear-gradient(to right, rgba(0,158,188,0), rgba(0,158,188,0.2)); /* Standard syntax (must be last) */

    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #006e85;
    background: linear-gradient(to right, rgba(0,158,188,0), rgba(0,158,188,0.2)); /* Standard syntax (must be last) */
}

.clock__circle-2 {
    width: rem-calc(580);
    height: rem-calc(580);
    border-radius: 50%;
    position: absolute;
    top: rem-calc(60);
    left: rem-calc(60);
    z-index: 10;

    /* can be treated like a fallback */
    background-color: #007f99;

    /* will be "on top", if browser supports it */
    background-image: linear-gradient(to top, rgba(0,158,188,0), rgba(0,158,188,0.2)); /* Standard syntax (must be last) */

    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #007f99;
    background: linear-gradient(to top, rgba(0,158,188,0), rgba(0,158,188,0.2)); /* Standard syntax (must be last) */
}

.clock__circle-3 {
    width: rem-calc(500);
    height: rem-calc(500);
    border-radius: 50%;
    position: absolute;
    top: rem-calc(40);
    left: rem-calc(40);
    z-index: 20;

    /* can be treated like a fallback */
    background-color: #009ebc;

    /* will be "on top", if browser supports it */
    background-image: linear-gradient(to bottom, rgba(56,207,204,0), rgba(56,207,204,0.2)); /* Standard syntax (must be last) */;

    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #009ebc;
    background: linear-gradient(to bottom, rgba(56,207,204,0), rgba(56,207,204,0.2)); /* Standard syntax (must be last) */
}

.clock__circle-dial {
    width: rem-calc(420);
    height: rem-calc(420);
    border-radius: 50%;
    position: absolute;
    top: rem-calc(149);
    left: rem-calc(140);
    z-index: 30;
    background: url(../images/moveing-dial.svg) center 0 no-repeat;
    background-size: rem-calc(385);
    background-position: center rem-calc(17);
}


/* The animation code */
@keyframes rotate-background {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-rotate-background {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.clock__rotate {
    animation:rotate-background 27s linear infinite;
}

.clock__counter-rotate {
    animation:counter-rotate-background 27s linear infinite;
}

// Date and time

.clock__date-container {
    z-index: 30;
    position: absolute;
    top: rem-calc(190);
    left: rem-calc(230);
    width: rem-calc(250);

    span {
        text-align: center;
        line-height: normal;

        span {
            color: #009ebc;
        }
    }

    .clock__day {
        position: relative;
        width: rem-calc(250);
        height: rem-calc(250);
    }

    .days {
        display: block;
        font-size: rem-calc(172);
        line-height: normal;
        margin-bottom: rem-calc(100);
        margin-left: rem-calc(40);
        font-weight: normal;
        color: #E70087;

        &.prism_top {
            font-family: "detroit_08_prism_topregular",Helvetica,Arial,sans-serif;
            position: absolute;
            top: 0;
        }

        &.prism_right {
            font-family: "detroit_07_prism_rightregular",Helvetica,Arial,sans-serif;
            color: #923180;
            position: absolute;
            top: 0;

            span {
                display: none;
            }
        }

        span {
            font-size: rem-calc(38);
            font-family: 'Gotham-Book',Helvetica,Arial,sans-serif;
            font-weight: lighter;
            display: block;
            font-weight: lighter;
        }
    }

    .hours,
    .minutes,
    .seconds {
        display: inline-block;
        font-family: 'Gotham-Bold';
        font-size: rem-calc(22);

        span {
            font-size: rem-calc(10);
            font-family: 'Gotham-Book';
            font-weight: lighter;
            width: rem-calc(80);
            display: block;
        }
    }

    .minutes {
        position: relative;

        &:before,
        &:after {
            border-left: rem-calc(1) solid #009ebc;
            content: " ";
            height: rem-calc(20);
            position: absolute;
            top: rem-calc(4);
            left: 0;
        }

        &:after {
            left: inherit;
            right: 0;
        }
    }
}
