// Header
header {
    margin-top: rem-calc(30);
    font-size: rem-calc(10);
    letter-spacing: rem-calc(2);
}

.header__links {
    ul {
        font-size: rem-calc(10);
        margin: 0;
        line-height: normal;
    }

    li {
        display: inline-block;
        margin-left: rem-calc(10);
    }

    a {
        color: #ffffff;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
