// Top navigation module

.header__links {
    font-size: rem-calc(12);
    font-family: "Gotham-Book",Helvetica,Arial,sans-serif;
    margin: rem-calc(30) auto;
    text-align: center;

    li {
        display: inline-block;
        margin: rem-calc(0 10);
    }

    a {
        color: #ffffff;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
